In [48]:
### Importando as bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy as scp
import warnings
warnings.filterwarnings("ignore")

In [53]:
pd.options.display.max_rows = 160       # Almentando as linhas para visualização.
pd.options.display.max_columns = 160    # Almentando as colunas.

In [49]:
### Importando o dataset
df = pd.read_csv('../credito-imoveis/application_test_student.csv',engine='python', sep=',')

### Explorando o dataset
df

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,149741,Cash loans,F,N,N,0,117000.0,417024.0,20191.5,360000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
1,363290,Cash loans,M,N,Y,0,450000.0,640080.0,31261.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
2,436006,Revolving loans,M,Y,Y,0,450000.0,900000.0,45000.0,900000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
3,377703,Cash loans,M,Y,N,1,360000.0,1125000.0,33025.5,1125000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
4,188624,Cash loans,M,Y,Y,0,675000.0,835380.0,42840.0,675000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61498,102817,Cash loans,M,Y,N,0,225000.0,472500.0,46161.0,454500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
61499,343961,Cash loans,M,N,Y,0,112500.0,508495.5,24592.5,454500.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
61500,427828,Cash loans,F,Y,Y,0,157500.0,808650.0,23643.0,675000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
61501,405956,Cash loans,F,N,Y,0,202500.0,590337.0,30271.5,477000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
61502,425814,Cash loans,F,Y,Y,1,135000.0,78192.0,9409.5,67500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df.duplicated().value_counts()

False    61503
dtype: int64

In [27]:
df.isnull().sum().sum()

1825963

In [54]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61503 entries, 0 to 61502
Data columns (total 121 columns):
 #    Column                        Non-Null Count  Dtype
---   ------                        --------------  -----
 0    SK_ID_CURR                    61503 non-null  int64
 1    NAME_CONTRACT_TYPE            61503 non-null  object
 2    CODE_GENDER                   61503 non-null  object
 3    FLAG_OWN_CAR                  61503 non-null  object
 4    FLAG_OWN_REALTY               61503 non-null  object
 5    CNT_CHILDREN                  61503 non-null  int64
 6    AMT_INCOME_TOTAL              61503 non-null  float64
 7    AMT_CREDIT                    61503 non-null  float64
 8    AMT_ANNUITY                   61501 non-null  float64
 9    AMT_GOODS_PRICE               61451 non-null  float64
 10   NAME_TYPE_SUITE               61259 non-null  object
 11   NAME_INCOME_TYPE              61503 non-null  object
 12   NAME_EDUCATION_TYPE           61503 non-null  object
 13   NAME_FAMILY_STATUS            61503 non-null  object
 14   NAME_HOUSING_TYPE             61503 non-null  object
 15   REGION_POPULATION_RELATIVE    61503 non-null  float64
 16   DAYS_BIRTH                    61503 non-null  int64
 17   DAYS_EMPLOYED                 61503 non-null  int64
 18   DAYS_REGISTRATION             61503 non-null  float64
 19   DAYS_ID_PUBLISH               61503 non-null  int64
 20   OWN_CAR_AGE                   20933 non-null  float64
 21   FLAG_MOBIL                    61503 non-null  int64
 22   FLAG_EMP_PHONE                61503 non-null  int64
 23   FLAG_WORK_PHONE               61503 non-null  int64
 24   FLAG_CONT_MOBILE              61503 non-null  int64
 25   FLAG_PHONE                    61503 non-null  int64
 26   FLAG_EMAIL                    61503 non-null  int64
 27   OCCUPATION_TYPE               42349 non-null  object
 28   CNT_FAM_MEMBERS               61502 non-null  float64
 29   REGION_RATING_CLIENT          61503 non-null  int64
 30   REGION_RATING_CLIENT_W_CITY   61503 non-null  int64
 31   WEEKDAY_APPR_PROCESS_START    61503 non-null  object
 32   HOUR_APPR_PROCESS_START       61503 non-null  int64
 33   REG_REGION_NOT_LIVE_REGION    61503 non-null  int64
 34   REG_REGION_NOT_WORK_REGION    61503 non-null  int64
 35   LIVE_REGION_NOT_WORK_REGION   61503 non-null  int64
 36   REG_CITY_NOT_LIVE_CITY        61503 non-null  int64
 37   REG_CITY_NOT_WORK_CITY        61503 non-null  int64
 38   LIVE_CITY_NOT_WORK_CITY       61503 non-null  int64
 39   ORGANIZATION_TYPE             61503 non-null  object
 40   EXT_SOURCE_1                  26928 non-null  float64
 41   EXT_SOURCE_2                  61387 non-null  float64
 42   EXT_SOURCE_3                  49266 non-null  float64
 43   APARTMENTS_AVG                30397 non-null  float64
 44   BASEMENTAREA_AVG              25650 non-null  float64
 45   YEARS_BEGINEXPLUATATION_AVG   31592 non-null  float64
 46   YEARS_BUILD_AVG               20695 non-null  float64
 47   COMMONAREA_AVG                18616 non-null  float64
 48   ELEVATORS_AVG                 28820 non-null  float64
 49   ENTRANCES_AVG                 30619 non-null  float64
 50   FLOORSMAX_AVG                 30966 non-null  float64
 51   FLOORSMIN_AVG                 19860 non-null  float64
 52   LANDAREA_AVG                  25000 non-null  float64
 53   LIVINGAPARTMENTS_AVG          19582 non-null  float64
 54   LIVINGAREA_AVG                30770 non-null  float64
 55   NONLIVINGAPARTMENTS_AVG       18903 non-null  float64
 56   NONLIVINGAREA_AVG             27681 non-null  float64
 57   APARTMENTS_MODE               30397 non-null  float64
 58   BASEMENTAREA_MODE             25650 non-null  float64
 59   YEARS_BEGINEXPLUATATION_MODE  31592 non-null  float64
 60   YEARS_BUILD_MODE              20695 non-null  float64
 61   COMMONAREA_MODE               18616 non-null  float64
 62   ELEVATORS_MODE                28820 non-null  float64
 63   ENTRANCES_MODE                30619 non-null  float64
 64   FLOORSMAX_MODE                30966 non-null  float64
 65   FLOORSMIN_MODE                19860 non-null  float64
 66   LANDAREA_MODE                 25000 non-null  float64
 67   LIVINGAPARTMENTS_MODE         19582 non-null  float64
 68   LIVINGAREA_MODE               30770 non-null  float64
 69   NONLIVINGAPARTMENTS_MODE      18903 non-null  float64
 70   NONLIVINGAREA_MODE            27681 non-null  float64
 71   APARTMENTS_MEDI               30397 non-null  float64
 72   BASEMENTAREA_MEDI             25650 non-null  float64
 73   YEARS_BEGINEXPLUATATION_MEDI  31592 non-null  float64
 74   YEARS_BUILD_MEDI              20695 non-null  float64
 75   COMMONAREA_MEDI               18616 non-null  float64
 76   ELEVATORS_MEDI                28820 non-null  float64
 77   ENTRANCES_MEDI                30619 non-null  float64
 78   FLOORSMAX_MEDI                30966 non-null  float64
 79   FLOORSMIN_MEDI                19860 non-null  float64
 80   LANDAREA_MEDI                 25000 non-null  float64
 81   LIVINGAPARTMENTS_MEDI         19582 non-null  float64
 82   LIVINGAREA_MEDI               30770 non-null  float64
 83   NONLIVINGAPARTMENTS_MEDI      18903 non-null  float64
 84   NONLIVINGAREA_MEDI            27681 non-null  float64
 85   FONDKAPREMONT_MODE            19600 non-null  object
 86   HOUSETYPE_MODE                30746 non-null  object
 87   TOTALAREA_MODE                31909 non-null  float64
 88   WALLSMATERIAL_MODE            30326 non-null  object
 89   EMERGENCYSTATE_MODE           32509 non-null  object
 90   OBS_30_CNT_SOCIAL_CIRCLE      61295 non-null  float64
 91   DEF_30_CNT_SOCIAL_CIRCLE      61295 non-null  float64
 92   OBS_60_CNT_SOCIAL_CIRCLE      61295 non-null  float64
 93   DEF_60_CNT_SOCIAL_CIRCLE      61295 non-null  float64
 94   DAYS_LAST_PHONE_CHANGE        61503 non-null  float64
 95   FLAG_DOCUMENT_2               61503 non-null  int64
 96   FLAG_DOCUMENT_3               61503 non-null  int64
 97   FLAG_DOCUMENT_4               61503 non-null  int64
 98   FLAG_DOCUMENT_5               61503 non-null  int64
 99   FLAG_DOCUMENT_6               61503 non-null  int64
 100  FLAG_DOCUMENT_7               61503 non-null  int64
 101  FLAG_DOCUMENT_8               61503 non-null  int64
 102  FLAG_DOCUMENT_9               61503 non-null  int64
 103  FLAG_DOCUMENT_10              61503 non-null  int64
 104  FLAG_DOCUMENT_11              61503 non-null  int64
 105  FLAG_DOCUMENT_12              61503 non-null  int64
 106  FLAG_DOCUMENT_13              61503 non-null  int64
 107  FLAG_DOCUMENT_14              61503 non-null  int64
 108  FLAG_DOCUMENT_15              61503 non-null  int64
 109  FLAG_DOCUMENT_16              61503 non-null  int64
 110  FLAG_DOCUMENT_17              61503 non-null  int64
 111  FLAG_DOCUMENT_18              61503 non-null  int64
 112  FLAG_DOCUMENT_19              61503 non-null  int64
 113  FLAG_DOCUMENT_20              61503 non-null  int64
 114  FLAG_DOCUMENT_21              61503 non-null  int64
 115  AMT_REQ_CREDIT_BUREAU_HOUR    53156 non-null  float64
 116  AMT_REQ_CREDIT_BUREAU_DAY     53156 non-null  float64
 117  AMT_REQ_CREDIT_BUREAU_WEEK    53156 non-null  float64
 118  AMT_REQ_CREDIT_BUREAU_MON     53156 non-null  float64
 119  AMT_REQ_CREDIT_BUREAU_QRT     53156 non-null  float64
 120  AMT_REQ_CREDIT_BUREAU_YEAR    53156 non-null  float64
dtypes: float64(65), int64(40), object(16)
memory usage: 56.8+ MB

In [55]:
df.isnull().sum().head(150)

SK_ID_CURR                          0
NAME_CONTRACT_TYPE                  0
CODE_GENDER                         0
FLAG_OWN_CAR                        0
FLAG_OWN_REALTY                     0
CNT_CHILDREN                        0
AMT_INCOME_TOTAL                    0
AMT_CREDIT                          0
AMT_ANNUITY                         2
AMT_GOODS_PRICE                    52
NAME_TYPE_SUITE                   244
NAME_INCOME_TYPE                    0
NAME_EDUCATION_TYPE                 0
NAME_FAMILY_STATUS                  0
NAME_HOUSING_TYPE                   0
REGION_POPULATION_RELATIVE          0
DAYS_BIRTH                          0
DAYS_EMPLOYED                       0
DAYS_REGISTRATION                   0
DAYS_ID_PUBLISH                     0
OWN_CAR_AGE                     40570
FLAG_MOBIL                          0
FLAG_EMP_PHONE                      0
FLAG_WORK_PHONE                     0
FLAG_CONT_MOBILE                    0
FLAG_PHONE                          0
FLAG_EMAIL                          0
OCCUPATION_TYPE                 19154
CNT_FAM_MEMBERS                     1
REGION_RATING_CLIENT                0
REGION_RATING_CLIENT_W_CITY         0
WEEKDAY_APPR_PROCESS_START          0
HOUR_APPR_PROCESS_START             0
REG_REGION_NOT_LIVE_REGION          0
REG_REGION_NOT_WORK_REGION          0
LIVE_REGION_NOT_WORK_REGION         0
REG_CITY_NOT_LIVE_CITY              0
REG_CITY_NOT_WORK_CITY              0
LIVE_CITY_NOT_WORK_CITY             0
ORGANIZATION_TYPE                   0
EXT_SOURCE_1                    34575
EXT_SOURCE_2                      116
EXT_SOURCE_3                    12237
APARTMENTS_AVG                  31106
BASEMENTAREA_AVG                35853
YEARS_BEGINEXPLUATATION_AVG     29911
YEARS_BUILD_AVG                 40808
COMMONAREA_AVG                  42887
ELEVATORS_AVG                   32683
ENTRANCES_AVG                   30884
FLOORSMAX_AVG                   30537
FLOORSMIN_AVG                   41643
LANDAREA_AVG                    36503
LIVINGAPARTMENTS_AVG            41921
LIVINGAREA_AVG                  30733
NONLIVINGAPARTMENTS_AVG         42600
NONLIVINGAREA_AVG               33822
APARTMENTS_MODE                 31106
BASEMENTAREA_MODE               35853
YEARS_BEGINEXPLUATATION_MODE    29911
YEARS_BUILD_MODE                40808
COMMONAREA_MODE                 42887
ELEVATORS_MODE                  32683
ENTRANCES_MODE                  30884
FLOORSMAX_MODE                  30537
FLOORSMIN_MODE                  41643
LANDAREA_MODE                   36503
LIVINGAPARTMENTS_MODE           41921
LIVINGAREA_MODE                 30733
NONLIVINGAPARTMENTS_MODE        42600
NONLIVINGAREA_MODE              33822
APARTMENTS_MEDI                 31106
BASEMENTAREA_MEDI               35853
YEARS_BEGINEXPLUATATION_MEDI    29911
YEARS_BUILD_MEDI                40808
COMMONAREA_MEDI                 42887
ELEVATORS_MEDI                  32683
ENTRANCES_MEDI                  30884
FLOORSMAX_MEDI                  30537
FLOORSMIN_MEDI                  41643
LANDAREA_MEDI                   36503
LIVINGAPARTMENTS_MEDI           41921
LIVINGAREA_MEDI                 30733
NONLIVINGAPARTMENTS_MEDI        42600
NONLIVINGAREA_MEDI              33822
FONDKAPREMONT_MODE              41903
HOUSETYPE_MODE                  30757
TOTALAREA_MODE                  29594
WALLSMATERIAL_MODE              31177
EMERGENCYSTATE_MODE             28994
OBS_30_CNT_SOCIAL_CIRCLE          208
DEF_30_CNT_SOCIAL_CIRCLE          208
OBS_60_CNT_SOCIAL_CIRCLE          208
DEF_60_CNT_SOCIAL_CIRCLE          208
DAYS_LAST_PHONE_CHANGE              0
FLAG_DOCUMENT_2                     0
FLAG_DOCUMENT_3                     0
FLAG_DOCUMENT_4                     0
FLAG_DOCUMENT_5                     0
FLAG_DOCUMENT_6                     0
FLAG_DOCUMENT_7                     0
FLAG_DOCUMENT_8                     0
FLAG_DOCUMENT_9                     0
FLAG_DOCUMENT_10                    0
FLAG_DOCUMENT_11                    0
FLAG_DOCUMENT_12                    0
FLAG_DOCUMENT_13                    0
FLAG_DOCUMENT_14                    0
FLAG_DOCUMENT_15                    0
FLAG_DOCUMENT_16                    0
FLAG_DOCUMENT_17                    0
FLAG_DOCUMENT_18                    0
FLAG_DOCUMENT_19                    0
FLAG_DOCUMENT_20                    0
FLAG_DOCUMENT_21                    0
AMT_REQ_CREDIT_BUREAU_HOUR       8347
AMT_REQ_CREDIT_BUREAU_DAY        8347
AMT_REQ_CREDIT_BUREAU_WEEK       8347
AMT_REQ_CREDIT_BUREAU_MON        8347
AMT_REQ_CREDIT_BUREAU_QRT        8347
AMT_REQ_CREDIT_BUREAU_YEAR       8347
dtype: int64

In [30]:
nulos_por_coluna = df.isnull().mean()*100
nulos_por_coluna.head(150)

SK_ID_CURR                     0.000000
NAME_CONTRACT_TYPE             0.000000
CODE_GENDER                    0.000000
FLAG_OWN_CAR                   0.000000
FLAG_OWN_REALTY                0.000000
                                ...
AMT_REQ_CREDIT_BUREAU_DAY     13.571696
AMT_REQ_CREDIT_BUREAU_WEEK    13.571696
AMT_REQ_CREDIT_BUREAU_MON     13.571696
AMT_REQ_CREDIT_BUREAU_QRT     13.571696
AMT_REQ_CREDIT_BUREAU_YEAR    13.571696
Length: 121, dtype: float64

In [31]:
df = df.dropna(thresh=len(df)*0.90, axis=1)
df.shape[1]

64

In [32]:
df.isnull().sum().sum()

1247

In [33]:
df = df.dropna(axis=0)

In [34]:
df.shape[0]

60934

In [35]:
df = df.reset_index(drop=True)
df

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,149741,Cash loans,F,N,N,0,117000.0,417024.0,20191.5,360000.0,...,0,0,0,0,0,0,0,0,0,0
1,363290,Cash loans,M,N,Y,0,450000.0,640080.0,31261.5,450000.0,...,0,0,0,0,0,0,0,0,0,0
2,377703,Cash loans,M,Y,N,1,360000.0,1125000.0,33025.5,1125000.0,...,0,0,0,0,0,0,0,0,0,0
3,188624,Cash loans,M,Y,Y,0,675000.0,835380.0,42840.0,675000.0,...,0,0,0,0,0,0,0,0,0,0
4,454397,Cash loans,M,Y,Y,2,112500.0,455040.0,12510.0,360000.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60929,102817,Cash loans,M,Y,N,0,225000.0,472500.0,46161.0,454500.0,...,0,0,0,0,0,0,0,0,0,0
60930,343961,Cash loans,M,N,Y,0,112500.0,508495.5,24592.5,454500.0,...,0,0,0,0,0,0,0,0,0,0
60931,427828,Cash loans,F,Y,Y,0,157500.0,808650.0,23643.0,675000.0,...,0,0,0,0,0,0,0,0,0,0
60932,405956,Cash loans,F,N,Y,0,202500.0,590337.0,30271.5,477000.0,...,0,0,0,0,0,0,0,0,0,0
60933,425814,Cash loans,F,Y,Y,1,135000.0,78192.0,9409.5,67500.0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
df = df.drop(["FLAG_MOBIL"], axis=1)# Drop coluna não relaciona a nada

In [37]:
df = pd.get_dummies(df)

In [42]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60934 entries, 0 to 60933
Data columns (total 156 columns):
 #    Column                                             Non-Null Count  Dtype
---   ------                                             --------------  -----
 0    SK_ID_CURR                                         60934 non-null  int64
 1    CNT_CHILDREN                                       60934 non-null  int64
 2    AMT_INCOME_TOTAL                                   60934 non-null  float64
 3    AMT_CREDIT                                         60934 non-null  float64
 4    AMT_ANNUITY                                        60934 non-null  float64
 5    AMT_GOODS_PRICE                                    60934 non-null  float64
 6    REGION_POPULATION_RELATIVE                         60934 non-null  float64
 7    DAYS_BIRTH                                         60934 non-null  int64
 8    DAYS_EMPLOYED                                      60934 non-null  int64
 9    DAYS_REGISTRATION                                  60934 non-null  float64
 10   DAYS_ID_PUBLISH                                    60934 non-null  int64
 11   FLAG_EMP_PHONE                                     60934 non-null  int64
 12   FLAG_WORK_PHONE                                    60934 non-null  int64
 13   FLAG_CONT_MOBILE                                   60934 non-null  int64
 14   FLAG_PHONE                                         60934 non-null  int64
 15   FLAG_EMAIL                                         60934 non-null  int64
 16   CNT_FAM_MEMBERS                                    60934 non-null  float64
 17   REGION_RATING_CLIENT                               60934 non-null  int64
 18   REGION_RATING_CLIENT_W_CITY                        60934 non-null  int64
 19   HOUR_APPR_PROCESS_START                            60934 non-null  int64
 20   REG_REGION_NOT_LIVE_REGION                         60934 non-null  int64
 21   REG_REGION_NOT_WORK_REGION                         60934 non-null  int64
 22   LIVE_REGION_NOT_WORK_REGION                        60934 non-null  int64
 23   REG_CITY_NOT_LIVE_CITY                             60934 non-null  int64
 24   REG_CITY_NOT_WORK_CITY                             60934 non-null  int64
 25   LIVE_CITY_NOT_WORK_CITY                            60934 non-null  int64
 26   EXT_SOURCE_2                                       60934 non-null  float64
 27   OBS_30_CNT_SOCIAL_CIRCLE                           60934 non-null  float64
 28   DEF_30_CNT_SOCIAL_CIRCLE                           60934 non-null  float64
 29   OBS_60_CNT_SOCIAL_CIRCLE                           60934 non-null  float64
 30   DEF_60_CNT_SOCIAL_CIRCLE                           60934 non-null  float64
 31   DAYS_LAST_PHONE_CHANGE                             60934 non-null  float64
 32   FLAG_DOCUMENT_2                                    60934 non-null  int64
 33   FLAG_DOCUMENT_3                                    60934 non-null  int64
 34   FLAG_DOCUMENT_4                                    60934 non-null  int64
 35   FLAG_DOCUMENT_5                                    60934 non-null  int64
 36   FLAG_DOCUMENT_6                                    60934 non-null  int64
 37   FLAG_DOCUMENT_7                                    60934 non-null  int64
 38   FLAG_DOCUMENT_8                                    60934 non-null  int64
 39   FLAG_DOCUMENT_9                                    60934 non-null  int64
 40   FLAG_DOCUMENT_10                                   60934 non-null  int64
 41   FLAG_DOCUMENT_11                                   60934 non-null  int64
 42   FLAG_DOCUMENT_12                                   60934 non-null  int64
 43   FLAG_DOCUMENT_13                                   60934 non-null  int64
 44   FLAG_DOCUMENT_14                                   60934 non-null  int64
 45   FLAG_DOCUMENT_15                                   60934 non-null  int64
 46   FLAG_DOCUMENT_16                                   60934 non-null  int64
 47   FLAG_DOCUMENT_17                                   60934 non-null  int64
 48   FLAG_DOCUMENT_18                                   60934 non-null  int64
 49   FLAG_DOCUMENT_19                                   60934 non-null  int64
 50   FLAG_DOCUMENT_20                                   60934 non-null  int64
 51   FLAG_DOCUMENT_21                                   60934 non-null  int64
 52   NAME_CONTRACT_TYPE_Cash loans                      60934 non-null  uint8
 53   NAME_CONTRACT_TYPE_Revolving loans                 60934 non-null  uint8
 54   CODE_GENDER_F                                      60934 non-null  uint8
 55   CODE_GENDER_M                                      60934 non-null  uint8
 56   CODE_GENDER_XNA                                    60934 non-null  uint8
 57   FLAG_OWN_CAR_N                                     60934 non-null  uint8
 58   FLAG_OWN_CAR_Y                                     60934 non-null  uint8
 59   FLAG_OWN_REALTY_N                                  60934 non-null  uint8
 60   FLAG_OWN_REALTY_Y                                  60934 non-null  uint8
 61   NAME_TYPE_SUITE_Children                           60934 non-null  uint8
 62   NAME_TYPE_SUITE_Family                             60934 non-null  uint8
 63   NAME_TYPE_SUITE_Group of people                    60934 non-null  uint8
 64   NAME_TYPE_SUITE_Other_A                            60934 non-null  uint8
 65   NAME_TYPE_SUITE_Other_B                            60934 non-null  uint8
 66   NAME_TYPE_SUITE_Spouse, partner                    60934 non-null  uint8
 67   NAME_TYPE_SUITE_Unaccompanied                      60934 non-null  uint8
 68   NAME_INCOME_TYPE_Commercial associate              60934 non-null  uint8
 69   NAME_INCOME_TYPE_Maternity leave                   60934 non-null  uint8
 70   NAME_INCOME_TYPE_Pensioner                         60934 non-null  uint8
 71   NAME_INCOME_TYPE_State servant                     60934 non-null  uint8
 72   NAME_INCOME_TYPE_Student                           60934 non-null  uint8
 73   NAME_INCOME_TYPE_Unemployed                        60934 non-null  uint8
 74   NAME_INCOME_TYPE_Working                           60934 non-null  uint8
 75   NAME_EDUCATION_TYPE_Academic degree                60934 non-null  uint8
 76   NAME_EDUCATION_TYPE_Higher education               60934 non-null  uint8
 77   NAME_EDUCATION_TYPE_Incomplete higher              60934 non-null  uint8
 78   NAME_EDUCATION_TYPE_Lower secondary                60934 non-null  uint8
 79   NAME_EDUCATION_TYPE_Secondary / secondary special  60934 non-null  uint8
 80   NAME_FAMILY_STATUS_Civil marriage                  60934 non-null  uint8
 81   NAME_FAMILY_STATUS_Married                         60934 non-null  uint8
 82   NAME_FAMILY_STATUS_Separated                       60934 non-null  uint8
 83   NAME_FAMILY_STATUS_Single / not married            60934 non-null  uint8
 84   NAME_FAMILY_STATUS_Widow                           60934 non-null  uint8
 85   NAME_HOUSING_TYPE_Co-op apartment                  60934 non-null  uint8
 86   NAME_HOUSING_TYPE_House / apartment                60934 non-null  uint8
 87   NAME_HOUSING_TYPE_Municipal apartment              60934 non-null  uint8
 88   NAME_HOUSING_TYPE_Office apartment                 60934 non-null  uint8
 89   NAME_HOUSING_TYPE_Rented apartment                 60934 non-null  uint8
 90   NAME_HOUSING_TYPE_With parents                     60934 non-null  uint8
 91   WEEKDAY_APPR_PROCESS_START_FRIDAY                  60934 non-null  uint8
 92   WEEKDAY_APPR_PROCESS_START_MONDAY                  60934 non-null  uint8
 93   WEEKDAY_APPR_PROCESS_START_SATURDAY                60934 non-null  uint8
 94   WEEKDAY_APPR_PROCESS_START_SUNDAY                  60934 non-null  uint8
 95   WEEKDAY_APPR_PROCESS_START_THURSDAY                60934 non-null  uint8
 96   WEEKDAY_APPR_PROCESS_START_TUESDAY                 60934 non-null  uint8
 97   WEEKDAY_APPR_PROCESS_START_WEDNESDAY               60934 non-null  uint8
 98   ORGANIZATION_TYPE_Advertising                      60934 non-null  uint8
 99   ORGANIZATION_TYPE_Agriculture                      60934 non-null  uint8
 100  ORGANIZATION_TYPE_Bank                             60934 non-null  uint8
 101  ORGANIZATION_TYPE_Business Entity Type 1           60934 non-null  uint8
 102  ORGANIZATION_TYPE_Business Entity Type 2           60934 non-null  uint8
 103  ORGANIZATION_TYPE_Business Entity Type 3           60934 non-null  uint8
 104  ORGANIZATION_TYPE_Cleaning                         60934 non-null  uint8
 105  ORGANIZATION_TYPE_Construction                     60934 non-null  uint8
 106  ORGANIZATION_TYPE_Culture                          60934 non-null  uint8
 107  ORGANIZATION_TYPE_Electricity                      60934 non-null  uint8
 108  ORGANIZATION_TYPE_Emergency                        60934 non-null  uint8
 109  ORGANIZATION_TYPE_Government                       60934 non-null  uint8
 110  ORGANIZATION_TYPE_Hotel                            60934 non-null  uint8
 111  ORGANIZATION_TYPE_Housing                          60934 non-null  uint8
 112  ORGANIZATION_TYPE_Industry: type 1                 60934 non-null  uint8
 113  ORGANIZATION_TYPE_Industry: type 10                60934 non-null  uint8
 114  ORGANIZATION_TYPE_Industry: type 11                60934 non-null  uint8
 115  ORGANIZATION_TYPE_Industry: type 12                60934 non-null  uint8
 116  ORGANIZATION_TYPE_Industry: type 13                60934 non-null  uint8
 117  ORGANIZATION_TYPE_Industry: type 2                 60934 non-null  uint8
 118  ORGANIZATION_TYPE_Industry: type 3                 60934 non-null  uint8
 119  ORGANIZATION_TYPE_Industry: type 4                 60934 non-null  uint8
 120  ORGANIZATION_TYPE_Industry: type 5                 60934 non-null  uint8
 121  ORGANIZATION_TYPE_Industry: type 6                 60934 non-null  uint8
 122  ORGANIZATION_TYPE_Industry: type 7                 60934 non-null  uint8
 123  ORGANIZATION_TYPE_Industry: type 8                 60934 non-null  uint8
 124  ORGANIZATION_TYPE_Industry: type 9                 60934 non-null  uint8
 125  ORGANIZATION_TYPE_Insurance                        60934 non-null  uint8
 126  ORGANIZATION_TYPE_Kindergarten                     60934 non-null  uint8
 127  ORGANIZATION_TYPE_Legal Services                   60934 non-null  uint8
 128  ORGANIZATION_TYPE_Medicine                         60934 non-null  uint8
 129  ORGANIZATION_TYPE_Military                         60934 non-null  uint8
 130  ORGANIZATION_TYPE_Mobile                           60934 non-null  uint8
 131  ORGANIZATION_TYPE_Other                            60934 non-null  uint8
 132  ORGANIZATION_TYPE_Police                           60934 non-null  uint8
 133  ORGANIZATION_TYPE_Postal                           60934 non-null  uint8
 134  ORGANIZATION_TYPE_Realtor                          60934 non-null  uint8
 135  ORGANIZATION_TYPE_Religion                         60934 non-null  uint8
 136  ORGANIZATION_TYPE_Restaurant                       60934 non-null  uint8
 137  ORGANIZATION_TYPE_School                           60934 non-null  uint8
 138  ORGANIZATION_TYPE_Security                         60934 non-null  uint8
 139  ORGANIZATION_TYPE_Security Ministries              60934 non-null  uint8
 140  ORGANIZATION_TYPE_Self-employed                    60934 non-null  uint8
 141  ORGANIZATION_TYPE_Services                         60934 non-null  uint8
 142  ORGANIZATION_TYPE_Telecom                          60934 non-null  uint8
 143  ORGANIZATION_TYPE_Trade: type 1                    60934 non-null  uint8
 144  ORGANIZATION_TYPE_Trade: type 2                    60934 non-null  uint8
 145  ORGANIZATION_TYPE_Trade: type 3                    60934 non-null  uint8
 146  ORGANIZATION_TYPE_Trade: type 4                    60934 non-null  uint8
 147  ORGANIZATION_TYPE_Trade: type 5                    60934 non-null  uint8
 148  ORGANIZATION_TYPE_Trade: type 6                    60934 non-null  uint8
 149  ORGANIZATION_TYPE_Trade: type 7                    60934 non-null  uint8
 150  ORGANIZATION_TYPE_Transport: type 1                60934 non-null  uint8
 151  ORGANIZATION_TYPE_Transport: type 2                60934 non-null  uint8
 152  ORGANIZATION_TYPE_Transport: type 3                60934 non-null  uint8
 153  ORGANIZATION_TYPE_Transport: type 4                60934 non-null  uint8
 154  ORGANIZATION_TYPE_University                       60934 non-null  uint8
 155  ORGANIZATION_TYPE_XNA                              60934 non-null  uint8
dtypes: float64(13), int64(39), uint8(104)
memory usage: 30.2 MB

In [20]:
df.to_csv("application_test_student.csv")

In [21]:
df = pd.read_csv("application_test_student.csv", index_col=0)

In [56]:
df.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,149741,Cash loans,F,N,N,0,117000.0,417024.0,20191.5,360000.0,"Spouse, partner",Working,Incomplete higher,Married,House / apartment,0.020246,-21774,-2125,-4611.0,-4653,NaN,1,1,1,1,1,0,Security staff,2.0,3,3,FRIDAY,13,0,0,0,0,0,0,Medicine,0.484936,0.182710,0.145543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,-2008.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
1,363290,Cash loans,M,N,Y,0,450000.0,640080.0,31261.5,450000.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.046220,-18499,-2055,-3052.0,-2028,NaN,1,1,0,1,0,0,Laborers,2.0,1,1,TUESDAY,13,0,0,0,0,0,0,Business Entity Type 3,0.624574,0.669053,0.680139,0.3763,0.4482,0.9950,NaN,NaN,0.48,0.2069,0.6250,NaN,0.0347,NaN,0.4585,NaN,0.0050,0.3834,0.4651,0.9950,NaN,NaN,0.4834,0.2069,0.6250,NaN,0.0355,NaN,0.4777,NaN,0.0052,0.3799,0.4482,0.9950,NaN,NaN,0.48,0.2069,0.6250,NaN,0.0353,NaN,0.4667,NaN,0.0051,NaN,block of flats,0.4524,Panel,No,0.0,0.0,0.0,0.0,-728.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
2,436006,Revolving loans,M,Y,Y,0,450000.0,900000.0,45000.0,900000.0,Unaccompanied,Commercial associate,Higher education,Single / not married,House / apartment,0.010643,-18084,-4159,-8525.0,-1616,4.0,1,1,0,1,0,0,Managers,1.0,2,2,SUNDAY,14,0,0,0,0,0,0,Construction,NaN,0.454279,0.173527,0.1113,0.0852,0.9836,0.7756,0.0189,0.12,0.1034,0.3333,0.3750,0.0932,0.0908,0.1128,0.0077,0.0047,0.1134,0.0884,0.9836,0.7844,0.0191,0.1208,0.1034,0.3333,0.3750,0.0954,0.0992,0.1175,0.0078,0.0050,0.1124,0.0852,0.9836,0.7786,0.0190,0.12,0.1034,0.3333,0.3750,0.0949,0.0923,0.1148,0.0078,0.0048,reg oper spec account,block of flats,0.1001,Panel,No,NaN,NaN,NaN,NaN,-1273.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
3,377703,Cash loans,M,Y,N,1,360000.0,1125000.0,33025.5,1125000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.018634,-12319,-2532,-12304.0,-4215,6.0,1,1,1,1,0,0,NaN,3.0,2,2,THURSDAY,15,0,1,1,0,1,1,Business Entity Type 3,NaN,0.688145,0.440058,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-984.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
4,188624,Cash loans,M,Y,Y,0,675000.0,835380.0,42840.0,675000.0,Unaccompanied,Working,Incomplete higher,Single / not married,With parents,0.020713,-10151,-2516,-2789.0,-2834,6.0,1,1,0,1,1,1,Drivers,1.0,3,2,MONDAY,7,0,0,0,0,0,0,Transport: type 4,NaN,0.426409,0.081726,0.0701,0.0846,0.9732,0.6328,0.0668,0.00,0.1379,0.1667,0.2083,0.0433,0.0546,0.0512,0.0116,0.0360,0.0714,0.0878,0.9732,0.6472,0.0674,0.0000,0.1379,0.1667,0.2083,0.0443,0.0597,0.0533,0.0117,0.0381,0.0708,0.0846,0.9732,0.6377,0.0672,0.00,0.1379,0.1667,0.2083,0.0441,0.0556,0.0521,0.0116,0.0367,reg oper account,block of flats,0.0846,"Stone, brick",No,3.0,1.0,3.0,1.0,0.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0

In [57]:
df['NAME_INCOME_TYPE_Businessman']

KeyError: 'NAME_INCOME_TYPE_Businessman'

In [62]:

def fizzBuzz(n):
    
    
    
    for i in range(1, n+1):
    
        if i % 3 == 0 and i % 5 == 0:
            print("FizzBuzz")
    
        elif i % 3 == 0 and not i % 5 == 0:
            print("Fizz")

        elif i % 5 == 0 and not i % 3 == 0:
            print("Buzz")

        else:
            print(str(i))
        
    return

In [63]:
fizzBuzz(15)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz

In [55]:
def fizzbuzz(n):

    if n % 3 == 0 and n % 5 == 0:
        return 'FizzBuzz'
    elif n % 3 == 0:
        return 'Fizz'
    elif n % 5 == 0:
        return 'Buzz'
    else:
        return str(n)

print "\n".join(fizzbuzz(n) for n in xrange(1, 21))

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (268966747.py, line 12)